@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Montserrat:wght@200&family=Poppins&display=swap');

.logo { grid-area: logo; background-color: #8e8ea5;}
.navbar { grid-area: navbar;  background-color: #c0c0db;}
.alcohol { grid-area: alcohol;color: #c0c0db !important;}
.clasicas { grid-area: clasicos;color: #c0c0db !important;}
.sidebar { grid-area: sidebar; background-color: #c0c0db;}
.home { grid-area: home;}
.conocer { grid-area: conocer;}
.contacto { grid-area: contacto;}
.recetas { grid-area: recetas; }
.receta1 { grid-area: receta1; background-color: #c0c0db;}
.receta2 { grid-area: receta2; background-color: #c0c0db;}
.receta3 { grid-area: receta3; background-color: #c0c0db;}
.receta4 { grid-area: receta4; background-color: #c0c0db;}
.section { grid-area: section;}
/* .recetas { grid-area: recetas;} */
.nombre { grid-area: nombre; color:#050524}
.recetas-img { grid-area: recetas-img;}
.detalles { grid-area: detalles;}
footer { grid-area: footer;}

.recetas {
    display: grid;
    grid-template-areas:
    'nombre'
    'recetas-img'
    'detalles'
    ;
    place-items: center;
    /* background-color: cadetblue; */
    gap: 1vw;
}

@media only screen and (max-width: 300px)
{
    .grid-container {
        display: grid;
        grid-template-areas:
        'logo logo logo logo'
        'navbar navbar navbar navbar'
        'navbar navbar navbar navbar'
        'alcohol alcohol alcohol alcohol'
        'clasicos clasicos clasicos clasicos'
        'sidebar sidebar sidebar sidebar'
        'footer footer footer footer'
        ;
        /* background-color: cadetblue; */
        gap: 1vw;
    }
}

@media only screen and (min-width: 728px)
{
    .grid-container {
        display: grid;
        grid-template-areas:
        'logo logo logo logo'
        'navbar navbar navbar navbar'
        'alcohol alcohol alcohol sidebar'
        'clasicos clasicos clasicos sidebar'
        'footer footer footer footer'
        ;
        /* background-color: cadetblue; */
        gap: 1vw;
    }
}

@media only screen and (max-width: 727px)
{
    .grid-container {
        display: grid;
        grid-template-areas:
        'logo logo logo logo'
        'navbar navbar navbar navbar'
        'sidebar sidebar sidebar sidebar'
        'alcohol alcohol alcohol alcohol'
        'clasicos clasicos clasicos clasicos'
        'footer footer footer footer'
        ;
        /* background-color: cadetblue; */
        gap: 1vw;
    }
}



.grid-container > div {
    /* background-color: aquamarine; */
    padding: 40px;
}
.grid-container > nav {
    /* background-color: aquamarine; */
    height: 1vw;
}
@media only screen and (min-width: 728px)
{
    .alcohol {
        display:grid;
        grid-template-areas: 
        'receta1 receta2'
        'receta3 receta4'
        ;
        /* background-color: cadetblue; */
        gap: 1vw;
    }
}

@media only screen and (max-width: 727px)
{
    .alcohol {
        display:grid;
        grid-template-areas: 
        'receta1'
        'receta2'
        'receta3'
        'receta4'
        ;
        /* background-color: cadetblue; */
        gap: 1vw;
    }
}
.alcohol > div {
    /* background-color: cadetblue; */
    padding: 40px;
}

@media only screen and (min-width: 728px)
{
    .clasicas {
        display:grid;
        grid-template-areas: 
        'receta1 receta2'
        'receta3 receta4'
        ;
        /* background-color: cadetblue; */
        gap: 1vw;
    }
}

@media only screen and (max-width: 727px)
{
    .clasicas {
        display:grid;
        grid-template-areas: 
        'receta1'
        'receta2'
        'receta3'
        'receta4'
        ;
        /* background-color: cadetblue; */
        gap: 1vw;
    }
}

.clasicas > div {
    /* background-color: cadetblue; */
    padding: 40px;
}
@media only screen and (min-width: 351px)
{
.navbar {
    display: grid;
    grid-template-areas:
    'home contacto conocer recetas';
    /* background-color:blueviolet; */
    place-items: center;
    gap: 1vw;
}
.navbar > div {
    /* background-color: rgb(247, 13, 227); */
    /* padding: 40px; */
    height: 3vw;
}
}
@media only screen and (max-width: 350px)
{
.navbar {
    display: grid;
    grid-template-areas:
    'home contacto'
    'conocer recetas';
    /* background-color:blueviolet; */
    place-items: center;
    gap: 1vw 2vw 1vw 2vw;
}
.navbar > div {
    /* background-color: rgb(247, 13, 227); */
    /* padding: 40px; */
    height: 4vw;
}
}


img {
    width: 15vw;
}

.logo-img {
    height: 10vw !important;
    width: auto !important;
}

.grid-cont {
    display: grid;
    grid-template-areas:
    'logo logo logo logo'
    'navbar navbar navbar navbar'
    'section section section section'
    'footer footer footer footer'
    ;
    background-color: #050524;
    gap: 1vw;
    color: #8e8ea5;
}

.grid-cont > div, nav {
    /*background-color: #c0c0db;*/
    padding: 40px;
}

footer {

    /*background-color: #c0c0db;*/
    font-size: small;
    color: #8e8ea5;
}

#form-registro{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    align-items: center;
    background: #1d1d55;
    padding: 35px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    color: #8e8ea5;
}

.form-group{
    padding: 10px 15px;
}
a:link,a:visited,a:hover,a:active {
    text-decoration: none;
}
.special-link:hover,.special-link:active{
    background-color: #050524;
    color: #c0c0db;
    padding: 14px 25px;
    text-align: center;
    display: inline-block;
}

.special-link:link {
    background-color: #050524;
    color: #c0c0db;
    padding: 14px 25px;
    text-align: center;
    display: inline-block;
}

.special-link:visited {
    background-color: #050524;
    color: #c0c0db;
    padding: 14px 25px;
    text-align: center;
    display: inline-block;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #050524;
}

.img-form {
    width: 20vw;
    align-self: center;
}

#resultado {
    font-family: 'Poppins', sans-serif;
    color: #8e8ea5;
}

.buscador {
    color: #8e8ea5;
}

.api {
    /*background-color: #1d1d55;*/
    font-family: 'Poppins', sans-serif;
    color: #8e8ea5;
}



/* Aca estoy agregando las imagenes y un video del index

  */
  .imagen-container {
    width: 100%;
    float: right; 
}

.imagen-container img {
    width: 100%; 
    display: block;
    margin-bottom: 100px; 
    font-family: 'Poppins', sans-serif;
}
.imagen-container img:first-child {
    margin-top: 60px; 
}

.imagen-pequena img {
    width: 100%;
    Justify-content: center; 
    align-items: center; 
}

.pie {
    color: #8e8ea5;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}



/*
Selector de id


#formulario {

}
*/

/*
Selector de clase


.section {
    background-color: #3d3c3c;
}

*/

/*
Selector universal (toda la página)

* {
    background-color: #3d3c3c;
}

*/